
<article>
    <button class="menu-button">
        <img src="/image/icons/menu-open.svg" alt="menu button">
    </button>
    <section class="menu-content">
        <img id="home-icon" src="/image/icons/home.svg" alt="home icon">
        <img id="profile-icon" src="/image/icons/person-outline.svg" alt="profile icon">
        <a href="/lessons">
            <img id="puzzle-icon" src="/image/icons/Vector.svg" alt="puzzle icon">
        </a>
        
        <img id="stats-icon" src="/image/icons/bar-chart-outline.svg" alt="stats icon">
        <img id="book-icon" src="/image/icons/book-outline.svg" alt="book icon">
        <button class="menu-close">
            <img  src="/image/icons/Cross.svg" alt="kruisje">
        </button>
    </section>
       
</article>