<button class="menu-button">
    <img src="/image/icons/menu-open.svg" alt="menu button">
</button>
<article class="menu-container">
    
    <section class="menu-content">
        <a class="menu-links" href="#">
            <img id="home-icon" src="/image/icons/home.svg" alt="home icon">
            Home
        </a>
        <a class="menu-links" href="#">
            <img id="profile-icon" src="/image/icons/person-outline.svg" alt="profile icon">
            Profile
        </a>
        <a class="menu-links" href="#">
            <img id="puzzle-icon" src="/image/icons/Vector.svg" alt="puzzle icon">
            Testing
        </a>
        <a class="menu-links" href="#">
            <img id="stats-icon" src="/image/icons/bar-chart-outline.svg" alt="stats icon">
            Statistics
        </a>
        <a class="menu-links" href="/lessons">
            <img id="book-icon" src="/image/icons/book-outline.svg" alt="book icon">
            Lessons
        </a>
       
        

        <button class="menu-close">
            <img  src="/image/icons/Cross.svg" alt="kruisje">
        </button>
    </section>
       
</article>
