<%- include('partials/head') %>
<a href="/lessons" >
    <img src="/image/icons/Caret left.svg" alt="caret left">
</a>

<h1 class="page-h1">playlist</h1>
<section>
    <h2><%= playlist.title %></h2>
    <img src="https://fdnd-agency.directus.app/assets/<%= playlist.image %>" alt="playlist image">
</section>

