<%- include('partials/head') %>
<article class="container">
    <a href="/lessons" >
        <img src="/image/icons/Caret left.svg" alt="caret left">
    </a>
    
   
    <h1>All stories </h1>
    <input type="text" id="search-story" placeholder="Search for stories">

    <section class="all-catogory">
        <button>Animal</button>
        <button>Season</button>
        <button>Language</button>
        <button>Sortong</button>
    </section>
    <section class="lessons-allstories"> 
        <% stories.forEach(story => {%>
            <article class="li-story">
                    <img class="img-story" src="https://fdnd-agency.directus.app/assets/<%= story.image %>" alt="image">
                    <h2 class="story-title">
                         <%= story.title %> 
                        </h2> 
                    <p class="story-summary"> 
                        <%= story.summary %>
                    </p>
            </article>
       <% });  %>
   
    </section>
</article>

